* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgb(4, 4, 83);
}

header, 
.grid, 
footer {
  max-width: 840px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

main {
  max-width: 50rem;
  grid-column: 2;
}

aside {
  width: 20rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
  grid-column: 1;
  grid-row: 1;
}

aside img {
  width: 100%;
  height: auto;
}

aside h2{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
}

main img {
  width: 200px;
  height: auto;
  border: 2px solid #cccccc;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 1rem 0 1rem 1rem;
}

p {
  margin: 1rem;
}

nav {
  background-color: rgb(3, 42, 75);
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; /* shorthand for white and #ffffff; */
}

h1 {
    color: rgb(3, 42, 75);
    padding: .5rem;
    border-bottom: 3px solid rgb(3, 42, 75);
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
  background-color: #3e3e3e;
  color: #fff;
  padding: 2rem 1rem;
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

ul{
  list-style: none;
  padding: 1rem;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.grid {
  display: grid;
  align-items: center;
  margin-top: 1rem;
}

.indent {
  padding-left: 2rem;
}