* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

main {
  max-width: 840px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
  position: relative;
}

aside img {
  width: 100%;
  height: auto;
}

aside h2{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: 3rem;
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid #cccccc;
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1.5rem 1.5rem;
}

p {
  margin: 1rem;
}


nav {
    background-color : darkblue;
    padding: 5px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: .5rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 2rem;
}