* {
    box-sizing: border-box;
}
img {
    width: 600px;
    height: auto;
}

header, main, footer{
    max-width: 800px;
    margin: 0 auto;
}
    header {
    background-color: #333333;
    color: white;
    padding: .15rem;
    text-align: center;
    font-size: 1.75rem;
}
main {
    width: 600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
section {
    margin: 2em 0;
    background-color: #dddddd;
    padding: 1rem;
}
section h2 {
    text-align: left;
    border-bottom: solid #000000 1px;
}
footer {
    background-color: #333333;
    padding: .25em;
    text-align: center;
    color: #ffffff;
}